.header {
  background: $color_primary;
  height: 108px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 88px;
  padding-right: 56px;

    .nav {
      display: flex;
      li {
        a {
          color:#fff;
          padding: 32px;
          transition: all .3s;
          &:hover {
            transform: scale(1.1);
            background: darken($color_primary , 5%);
          }
        }
      }
      
    }
}