@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
.font-14 {
  font-size: 0.875rem;
  line-height: 1.5; }

.font-16 {
  font-size: 1rem;
  line-height: 1.5; }

.font-20 {
  font-size: 1.25rem;
  line-height: 1.5; }

.font-24 {
  font-size: 1.5rem;
  line-height: 1.5; }

.font-32 {
  font-size: 2rem;
  line-height: 1.5; }

.font-36 {
  font-size: 2.25rem;
  line-height: 1.5; }

.font-40 {
  font-size: 2.5rem;
  line-height: 1.5; }

.font-48 {
  font-size: 3rem;
  line-height: 1.5; }

.font-64 {
  font-size: 4rem;
  line-height: 1.5; }

.font-72 {
  font-size: 4.5rem;
  line-height: 1.5; }

.fw-normal {
  font-weight: normal; }

.fw-bold {
  font-weight: bold; }

.text-center {
  text-align: center; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-5 {
  margin-bottom: 40px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-10 {
  margin-bottom: 80px; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif; }

.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  display: block;
  font-weight: normal; }

.header {
  background: #AA0601;
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 88px; }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header .nav li {
      margin-left: 64px; }
      .header .nav li a {
        color: #fff;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        .header .nav li a:hover {
          -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
                  transform: scale(1.1);
          color: #650300; }

.footer {
  background: #AA0601;
  padding: 44px 0 39px 0; }
  .footer .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 36px; }
    .footer .footer-link .nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .footer-link .nav li {
        margin-right: 48px; }
        .footer .footer-link .nav li a {
          color: #fff; }
          .footer .footer-link .nav li a:hover {
            text-decoration: underline; }
    .footer .footer-link .social-media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .footer-link .social-media li {
        margin-left: 32px; }
        .footer .footer-link .social-media li a:hover {
          -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
                  transform: scale(1.1); }
  .footer .footer-contact li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .footer-contact li a {
      color: #fff;
      margin-left: 22px; }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff; }
    .footer .copyright .terms {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .copyright .terms a {
        color: #fff;
        margin-left: 48px; }
        .footer .copyright .terms a:hover {
          text-decoration: underline; }

/* banner */
.banner {
  background-image: url(../images/banner.png);
  background-size: cover;
  height: 840px; }
  .banner .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
    text-align: right;
    color: #650300; }
    .banner .title span {
      display: block; }

/* service */
.bg-primary-light {
  background: #FBF2F2; }
  .bg-primary-light .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 0 80px 0; }
    .bg-primary-light .services h2 {
      color: #650300; }
    .bg-primary-light .services .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .bg-primary-light .services .row .col-3 {
        max-width: 25%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-right: 30px; }
        .bg-primary-light .services .row .col-3 .icons {
          max-width: 100px;
          height: 100px;
          line-height: 84px;
          padding: 8px; }
        .bg-primary-light .services .row .col-3 h3 {
          color: #650300;
          font-weight: bold; }

/* classic-series */
.classic-series {
  padding: 60px 0 80px 0; }
  .classic-series h2 {
    color: #650300; }
  .classic-series li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .classic-series li .classic-img {
      max-width: 635px;
      height: 100%; }
    .classic-series li .slogn {
      padding: 0 32px; }
      .classic-series li .slogn .icon {
        width: 48px;
        height: 48px;
        line-height: 63px;
        padding: 2px; }
      .classic-series li .slogn h3 {
        color: #AA0601;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 900;
        line-height: 1.3; }
  .classic-series .row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

/* co-branded */
.co-branded {
  background: url(../images/bg.png) center center no-repeat;
  background-size: cover;
  height: 705px;
  padding: 60px 0 80px 0; }
  .co-branded h2 {
    color: #fff;
    text-align: center; }
  .co-branded .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .co-branded .row .co-branded-left {
      background: url(../images/product-8.png) center center no-repeat;
      background-size: cover;
      width: 48.5%;
      height: 455px;
      position: relative; }
    .co-branded .row .co-branded-right {
      background: url(../images/product-9.png) center center no-repeat;
      background-size: cover;
      width: 48.5%;
      height: 455px;
      position: relative; }
    .co-branded .row .mask {
      width: 100%;
      height: 100%;
      background: #fff;
      opacity: 0.5; }
    .co-branded .row h3 {
      color: #AA0601;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      text-align: center; }

/*  recommend */
.recommend {
  padding: 60px 0 80px 0; }
  .recommend h2 {
    color: #650300;
    text-align: center; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .row .card {
    width: 23%; }
    .row .card .card-header {
      width: 100%;
      height: 256px; }

/*# sourceMappingURL=all.css.map */
