$font-family: 'Roboto', 'Noto Sans TC', sans-serif;
$color_primary: #AA0601; 
$color_primary_dark: #650300;
$color_primary_light: #FBF2F2;
$color_gray_dark:#212529;
$color_gray_light:#707070;

.font-14 {
  font-size: 0.875rem;
  line-height: 1.5;
}
.font-16 {
  font-size: 1rem;
  line-height: 1.5;
}
.font-20 {
  font-size: 1.25rem;
  line-height: 1.5;
}
.font-24 {
  font-size: 1.5rem;
  line-height: 1.5;
}
.font-32 {
  font-size: 2rem;
  line-height: 1.5;
}

.font-36 {
  font-size: 2.25rem;
  line-height: 1.5;
}
.font-40 {
  font-size: 2.5rem;
  line-height: 1.5;
}
.font-48 {
  font-size: 3rem;
  line-height: 1.5;
}

.font-64 {
  font-size: 4rem;
  line-height: 1.5;
}

.font-72 {
  font-size: 4.5rem;
  line-height: 1.5;
}


.fw-normal {
  font-weight: normal;
}

.fw-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

// 8px
.mb-1 {
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 48px;
}

.mb-10 {
  margin-bottom: 80px;
}