$color_primary: #AA0601; 
$color_primary_dark: #650300;
$color_primary_light: #FBF2F2;
$white: white;
$black: black;

$product_color_primary: #5F3E2D;
$product_color_secondary: #B75929;

$gray-100: #f2f2f2;
$gray-200: #DCDCDC;
$gray-300: #6C6C6C;
$gray-400: #707070;
$gray-500: #555555;
$gray-600: #212529;
$gray-700: #0A0A0A;

// space
$spacer: 1rem; // 16px
$spacer-sm: $spacer*0.5; // 8px
$spacer-m: $spacer*1.5; // 24px
$spacer-l: $spacer*2; // 32px
$spacer-xl: $spacer*3; // 48px
$spacer-xxl: $spacer*4; // 64px
$spacer-vl: $spacer*5; // 80px


// 字形
$font-noto: 'Noto Sans TC',
sans-serif;
$font-roboto: 'Roboto',
sans-serif;